#------------[ Configuration variables ] -----------
#
BACKUPDESTDIR=/media/Backups 		# backup destination
BACKUPARCHIVE=/media/BackupsArchives 	# define this variable if you want to archive old backups to a secondary location after a certain time
GUI_PROMPT=true				# show notices on the X screen. Requires to apt install libnotify-bin. Comment out to disable

# Remote backup safety checks
#IF=eth0				# interface that is allowed to be used for backups. If defined, check that there is an interface by the given name that's configured for the correct network. 
#NETMASK="192.168.1.0/24" 		# expected network on $IF
#ROUTERIP="192.168.1.1" 		# router ip to validate that we are on the right network. If defined check the (router) IP and MAC before backing up to validate that we are on the right network
#ROUTERMAC="00:11:22:aa:bb:cc" 		# expected router MAC address for that $ROUTERIP
#WOL_MAC="00:11:22:aa:bb:cc"		# MAC address of the remote TSM server, to send a wake on lan packet when it is not reachable. used only for TSM
#KEYS_OF_SERVERS=("server ssh-ed25519 <key>") # an array of backup servers SSH keys to validate against before connecting. Get one by running `ssh-keyscan <server>`.	

# Backup monitor configuration
ALERT_TOLERANCE_FACTOR=2 		# multiplication factor for the number of days that the backup has not completed successfuly before invoking the alert script
ALERT_EMAIL=user@server.tld
MUA_CMD=(/usr/bin/s-nail -v -s "Backup failure alert") # mail user agent (email send command) and parameters - this one needs sudo apt-get install s-nail and config in /etc/s-nail.rc
#ALERT_SCRIPT=/path/home/send-email.sh  # script to use for alerting. If not defined then system's mailx will be used
