*~
donotbackup*
.adobe/Flash_Player/AssetCache/
.cache/
.cpan/
.dbus/
.gvfs/
.java/deployment/cache/*
.local/share/Trash/*
.mozilla/firefox/*.default/Cache/*
.mozilla/firefox/*.default/OfflineCache/*
.thumbnails/
.thunderbird/*.default/Cache/*
.Xauthority
.xsession-errors
.local/share/icons
# exclude files but not folders themselves as these are critical for windows apps to work
.wine*/drive_c/users/*/Temp/**
.wine*/drive_c/users/*/Local Settings/Temporary Internet Files/**
