*~
# ** used to skip all files but not folders to simplify bare metal restore
/proc/**
/sys/**
/dev/**
/media/**
/tmp/**
/home/**
/run/**
/lib/udev/**
/var/lib/apt/lists/**
/var/lib/dpkg/info/
/var/backups/**
/var/run/**
/var/tmp/**
/var/crash/**
/var/spool/cups/**
/var/spool/postfix/**
# skip inaccessible folders even by root, strangely only the non-slash terminated string below works properly
/var/cache/system-tools-backends
/var/cache/**
# some other unimportant var lib stuff
#/var/lib/ureadahead/**
#/var/lib/apt/periodic/
#/var/lib/nfs/
#/var/lib/mpd/.pulse/
#/var/lib/misc/
#/var/lib/lightdm/.dbus/
#/var/lib/juju/removed-containers/
#/var/backups/
#/var/lib/apt-xapian-index/
#/var/lib/logrotate/
#/var/lib/mlocate/
#/var/lib/mysql/
#/var/lib/ntp/
#/var/lib/php5

